.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(/src/assets/MUJFinal.png);
  background-position: center;
  
}

.auth-form-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left; 
  padding: 4.5rem;
  background-image: linear-gradient(90deg, #61CDB9 , #CBCB65);
  border-radius: 10px;
  

}

.auth-form-container2{

  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: left; 
  padding: 4.5rem;
  background-image: linear-gradient(90deg, #61CDB9 , #CBCB65);
  border-radius: 10px;
  height: 250px
  

}

.auth-form-container3{

  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: left; 
  padding: 4.5rem;
  background-color: #136371;
  border-radius: 10px;
  height: 600px;
  width: 70%;
  border-color: white;
  border-width: 3px;
  

}

.SignInStyle{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;


}

.SignUpStyle{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border-width: 30rem 0;
  


}

.minlabel{
  font-size: 1.2rem;
  margin: 0.4rem 0;
  padding-bottom: 3px;
  font-weight: bold;
}

input {
  margin: 1.2rem 0;
  border-width: 3px;
  border-color: black;
  box-sizing: border-box;
  width: 90%;
  height: 30px;
  
}

.SignInButt{
  background-color: #CBCB65;
  color: white;
  font-size: 1.3rem;
  border-color: #136371;
  border-radius: 0.2rem;
  margin-top: 2px;

}

.SignUpButt{
  background-color: #84E4A8;
  color: white;
  font-size: 1.3rem;
  border-color: #D9D9D9;
  border-radius: 0.2rem;
  margin-top: 20px;
}

.majorlabel{
  font-size: 1.6rem;
  padding-bottom: 2rem;
  text-decoration: underline;
}

.donthaveacc{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  
}

.Topcontainer{
  flex-direction: column;
  display: flex;
  align-items: top;
  text-align: center;
  margin-bottom: 2rem;
  height: 100px;
  background-image: linear-gradient(90deg, #61CDB9 , #B8B899);
  border-radius: 0 0 10px 10px;
}

.toplab1{
  font-size: 30px;
  margin-bottom: 15px;
}

.toplab2{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.deletethis{
  color: #D9D9D9;
  font-weight: bold;
  font-size: 22px;

}


.HeaderDesign {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4B9CAB;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px; 
  place-items: center;
}

.homeScreenTopNotifButton {
  z-index: 20; /* Higher than the search bar's z-index (if any) */
  background: none;
  border: none;
  position:absolute;
  left: 190px;
}

.homeScreenTopButtonAddress {
  /* Styles for the button containing the address */
  background: none;
  border: none;
  font-size: 16px;
  color: #fff; /* Text color */
  text-align: left; /* Align text to the left */
  cursor: pointer;
}

.homeScreenTopButtonAddress text {
  /* Styles for the text inside the address button */
  font-weight: bold;
}

.searchContainerWrapper {
  position: flex;
  border: none;
  width: 30%;
  /* Adjust margin, padding, or order property to position it */
}

.searchContainerWrapper :focus {
  outline: none;
  
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer input[type="text"] {
  /* Styles for the search input */
  width: 300px; /* Adjust the width as needed */
  padding: 10px; /* Add padding to the input */
  font-size: 16px;
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  outline: none; /* Remove outline */
  z-index: 1; /* Ensure it's above other content */
}

.searchResultsContainer {
  position: absolute; /* Position the search results absolutely */
  top: calc(100% + 10px); /* Position below the input */
  left: 0; /* Align with the left edge of the input */
  width: 100%; /* Take full width */
  background-color: #fff; /* Background color for the results */
  border: 1px solid #ccc; /* Border */
  border-top: none; /* Remove top border */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
  z-index: 0; /* Lower z-index compared to the input */
  display: none; /* Initially hide */
}




.searchResultsContainer.show {
  display: block; /* Show when results are available */
}

.user {
  /* Styles for each search result */
  padding: 10px; /* Add padding */
  border-bottom: 1px solid #ccc; /* Add bottom border */
}

.user:last-child {
  border-bottom: none; /* Remove bottom border for the last result */
}

.homeScreenTopButton {
  /* Styles for the top buttons */
  background: none;
  border: none;
  cursor: pointer;
}

.homeScreenTopButtonImages {
  /* Styles for the images inside the top buttons */
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.HomeScreenQcontainer1 {
  background-color: #84E4A8;
  border-style: dashed;
  border-color: black;
  border-width: 0.2rem;
  margin: 5%;
  display: flex; /* Add display flex */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 4rem;
  width: auto;
  font-size: 1.5em;
  text-decoration: solid;
}

.HomeScreenOptionsContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  


}

.BuyButton{
  background-image: linear-gradient(180deg, #008380 , #b3e3e3);
  height: 5rem;
  width :5rem;
  border-style: dashed;
  border-color: black;
  border-width: 0.2rem;
  font-size: 20px;
  cursor:pointer;
}


.SellButton{
  
  background-image: linear-gradient(180deg, #CBCB65 , #d2d3bd);
  height: 5rem;
  width :5rem;
  border-style: dashed;
  border-color: black;
  border-width: 0.2rem;
  font-size: 20px;
  cursor:pointer;
}


.BusButton{
  background-image: linear-gradient(180deg, #7F44F6 , #d2cdd7);
  height: 5rem;
  width :5rem;
  border-style: dashed;
  border-color: black;
  border-width: 0.2rem;
  font-size: 12px;
  cursor:pointer;
}

.deliveryAddressContainer {
  display: flex;
  align-items: center;
}

.deliveryAddressText {
  font-size: 14px; /* Adjust the font size as needed */
  /*margin-right: 10px; Add some spacing between the text and the pointer */
}

.customMapPointer{
  width: 30px; /* Adjust the width of the map pointer image */
  height: auto;
  cursor: pointer;
 
}

.mylogosetting1{
  width: 60px; /* Adjust the width of the map pointer image */
  height: auto;
  justify-content: space-between;
  gap: 5px;

}

.somename {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  grid-gap: 12px; /* Adjust spacing between items */
}

.iteminfotab {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  background-color: white;
  line-height: 0.5;
  font-style: oblique;
  padding: 5px;
  flex-grow: 1; /* Allow the iteminfotab to grow and take up remaining space */
  min-width: 0;
  
}

.item-container {
  display: flex; /* Each container will display as a block element, stacking them vertically */
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Add some space between each pair */
}

.buyexmp {
 /*width: 70px; /* Set width instead of height */
 /* height: auto; /* Auto height to maintain aspect ratio */
  /*object-fit: contain; /* Ensure image fits within the container */
  cursor: pointer;
  margin-left: auto;
  height: 100px;
}

.iteminfotab p {
  margin-left: 10px; /* Adjust spacing between image and text */
}
.productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 10px; /* Adjust spacing between items */
  /* Remove or adjust any unnecessary rules like .optionspic */
}

.optionspic{
  height: 120px;
  object-fit: cover;
  cursor: pointer;

}